/* IDs */
body {
  background-image: url("/gifs/y2kHelloKittyGif.webp");
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainContent {
  width: 70%;
  height: 1080px;
  overflow: hidden;
}
#sidebarLeft {
  overflow: hidden;
  float: left;
}
#title {
  width: 80%;
  height: 15%;
  overflow: hidden;
}
#gif1 {
  background-image: url(/gifs/sample.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  margin-top: 0.5%;
  height: 100%;
  float: left;
}
.scrollingText {
  position: relative;
  background-image: url("https://images.cooltext.com/5700802.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  white-space: nowrap;
  width: 250%;
  height: 100%;
  display: flex;
  align-items: center;
}

.scrollingText {
  animation: scrollText 12s linear infinite;
}

@keyframes scrollText {
  from {
    /* 70% gives no delay whereas 
    100% there is a couple second dealy */
    transform: translateX(70%);
  }
  to {
    transform: translateX(-100%);
  }
}
#scrollingTextContainer {
  width: 80%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}
#gif2 {
  background-image: url(/gifs/sample.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  height: 100%;
  float: right;
  margin-top: 0.5%;
}
#navbar {
  background-color: bisque;
  width: 80%;
  height: 5%;
  overflow: hidden;
  margin-bottom: 1%;
}

#firstSection {
  overflow: hidden;
  width: 80%;
  height: 30%;
  background-color: blueviolet;
}

#profilePic {
  /* Add properties here */
}

#aboutMe {
  /* Add properties here */
}

#secondSection {
  /* Add properties here */
}

#thirdSection {
  /* Add properties here */
}

#latestYoutubeVideo {
  /* Add properties here */
}

#announcments {
  /* Add properties here */
}

#fourthSection {
  /* Add properties here */
}

#fifthSection {
  /* Add properties here */
}

#commentSection {
  /* Add properties here */
}

#fillerImage {
  /* Add properties here */
}

#sidebarRight {
  float: right;
}
#footer {
  /* Add properties here */
}

/* Classes */
.sideBars {
  display: block;
  width: 10%;
  height: 100%;
  background-color: brown;
}
.banner {
}
.sideGifs {
  margin-top: 100%;
  margin-left: auto;
  margin-right: auto;

  width: 80%;
  height: 11%;
}
